# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Models (большие файлы)
model/*.pkl
model/*.joblib
model/*.onnx
!model/metrics.json

# Data
data/
*.csv
*.parquet

# Env
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
